[submodule "L03/CS1XC3_L03"]
	path = L03/CS1XC3_L03
	url = git@github.com:japneet250/CS1XC3_L03.git
[submodule "L07/1XC3_L07"]
	path = L07/1XC3_L07
	url = https://github.com/japneet250/1XC3_L07.git
[submodule "1XC3_L08"]
	path = 1XC3_L08
	url = https://github.com/japneet250/1XC3_L08.git
[submodule "L08/1XC3_L08"]
	path = L08/1XC3_L08
	url = https://github.com/japneet250/1XC3_L08.git
[submodule "L08/CS1XC3_L08_P3."]
	path = L08/CS1XC3_L08_P3.
	url = https://github.com/japneet250/CS1XC3_L08_P3..git
